# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [23]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv('../Weather_Database/WeatherPy_Database.csv')

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,82.04,75,100,15.64,overcast clouds
1,1,Ilulissat,GL,69.2167,-51.1000,9.63,93,83,5.32,broken clouds
2,2,Thompson,CA,55.7435,-97.8558,5.16,92,20,2.30,few clouds
3,3,Bowen,AU,-20.0167,148.2333,76.48,76,24,5.82,few clouds
4,4,Cherskiy,RU,68.7500,161.3000,-31.02,100,88,4.50,overcast clouds
5,5,Puerto Ayora,EC,-0.7393,-90.3518,75.16,85,74,8.01,broken clouds
6,6,Carnarvon,AU,-24.8667,113.6333,70.99,71,0,18.12,clear sky
7,7,São Félix do Xingu,BR,-6.6447,-51.9950,94.80,38,79,3.51,broken clouds
8,8,Castro,BR,-24.7911,-50.0119,75.85,69,94,11.14,overcast clouds
9,9,Bluff,NZ,-46.6000,168.3333,53.10,85,74,11.07,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [24]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Enter the minimum temperature for your destination: "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Enter the maximum temperature for your destination: "))

Enter the minimum temperature for your destination: 75
Enter the maximum temperature for your destination: 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [25]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,82.04,75,100,15.64,overcast clouds
3,3,Bowen,AU,-20.0167,148.2333,76.48,76,24,5.82,few clouds
5,5,Puerto Ayora,EC,-0.7393,-90.3518,75.16,85,74,8.01,broken clouds
8,8,Castro,BR,-24.7911,-50.0119,75.85,69,94,11.14,overcast clouds
15,15,Puerto Escondido,MX,15.8500,-97.0667,84.87,65,9,4.56,clear sky
17,17,Maragogi,BR,-9.0122,-35.2225,82.47,68,26,10.74,scattered clouds
20,20,Tiznit Province,MA,29.5833,-9.5000,76.69,17,59,2.95,broken clouds
21,21,Butaritari,KI,3.0707,172.7902,79.54,81,73,10.85,broken clouds
23,23,George Town,MY,5.4112,100.3354,76.95,99,40,2.30,scattered clouds
28,28,Cam Ranh,VN,11.9214,109.1591,80.56,83,75,10.36,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [26]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,82.04,75,100,15.64,overcast clouds
3,3,Bowen,AU,-20.0167,148.2333,76.48,76,24,5.82,few clouds
5,5,Puerto Ayora,EC,-0.7393,-90.3518,75.16,85,74,8.01,broken clouds
8,8,Castro,BR,-24.7911,-50.0119,75.85,69,94,11.14,overcast clouds
15,15,Puerto Escondido,MX,15.8500,-97.0667,84.87,65,9,4.56,clear sky
17,17,Maragogi,BR,-9.0122,-35.2225,82.47,68,26,10.74,scattered clouds
20,20,Tiznit Province,MA,29.5833,-9.5000,76.69,17,59,2.95,broken clouds
21,21,Butaritari,KI,3.0707,172.7902,79.54,81,73,10.85,broken clouds
23,23,George Town,MY,5.4112,100.3354,76.95,99,40,2.30,scattered clouds
28,28,Cam Ranh,VN,11.9214,109.1591,80.56,83,75,10.36,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [27]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

                City Country  Max Temp Current Description      Lat       Lng
0          Hithadhoo      MV     82.04     overcast clouds  -0.6000   73.0833
3              Bowen      AU     76.48          few clouds -20.0167  148.2333
5       Puerto Ayora      EC     75.16       broken clouds  -0.7393  -90.3518
8             Castro      BR     75.85     overcast clouds -24.7911  -50.0119
15  Puerto Escondido      MX     84.87           clear sky  15.8500  -97.0667
17          Maragogi      BR     82.47    scattered clouds  -9.0122  -35.2225
20   Tiznit Province      MA     76.69       broken clouds  29.5833   -9.5000
21        Butaritari      KI     79.54       broken clouds   3.0707  172.7902
23       George Town      MY     76.95    scattered clouds   5.4112  100.3354
28          Cam Ranh      VN     80.56       broken clouds  11.9214  109.1591

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [28]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,82.04,overcast clouds,-0.6000,73.0833,
3,Bowen,AU,76.48,few clouds,-20.0167,148.2333,
5,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,
8,Castro,BR,75.85,overcast clouds,-24.7911,-50.0119,
15,Puerto Escondido,MX,84.87,clear sky,15.8500,-97.0667,
17,Maragogi,BR,82.47,scattered clouds,-9.0122,-35.2225,
20,Tiznit Province,MA,76.69,broken clouds,29.5833,-9.5000,
21,Butaritari,KI,79.54,broken clouds,3.0707,172.7902,
23,George Town,MY,76.95,scattered clouds,5.4112,100.3354,
28,Cam Ranh,VN,80.56,broken clouds,11.9214,109.1591,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [30]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [35]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params = params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [36]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,82.04,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,Bowen,AU,76.48,few clouds,-20.0167,148.2333,Castle Motor Lodge Motel
5,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Castro,BR,75.85,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
15,Puerto Escondido,MX,84.87,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
17,Maragogi,BR,82.47,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
20,Tiznit Province,MA,76.69,broken clouds,29.5833,-9.5000,
21,Butaritari,KI,79.54,broken clouds,3.0707,172.7902,Isles Sunset Lodge
23,George Town,MY,76.95,scattered clouds,5.4112,100.3354,Cititel Penang
28,Cam Ranh,VN,80.56,broken clouds,11.9214,109.1591,OYO 598 Peony Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [44]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] != "")]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,82.04,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,Bowen,AU,76.48,few clouds,-20.0167,148.2333,Castle Motor Lodge Motel
5,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
8,Castro,BR,75.85,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
15,Puerto Escondido,MX,84.87,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
17,Maragogi,BR,82.47,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
21,Butaritari,KI,79.54,broken clouds,3.0707,172.7902,Isles Sunset Lodge
23,George Town,MY,76.95,scattered clouds,5.4112,100.3354,Cititel Penang
28,Cam Ranh,VN,80.56,broken clouds,11.9214,109.1591,OYO 598 Peony Hotel
30,Sabang,ID,80.78,overcast clouds,5.8933,95.3214,Hotel Citra

In [46]:
len(hotel_df)

197

In [45]:
len(clean_hotel_df)

182

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [47]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label = "City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [49]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [50]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.04 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Castle Motor Lodge Motel</dd>\n<dt>City</dt><dd>Bowen</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CHACARA BAILLY</dd>\n<dt>City</dt><dd>Castro</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aldea del Bazar Hotel and Spa</dd>\n<dt>City</dt><dd>Puerto Escondido</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Salinas do Maragogi All Inclusive Resort</dd>\n<dt>City</dt><dd>Maragogi</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>George Town</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 598 Peony Hotel</dd>\n<dt>City</dt><dd>Cam Ranh</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Citra</dd>\n<dt>City</dt><dd>Sabang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.78 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [51]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   -0.6000   73.0833
3  -20.0167  148.2333
5   -0.7393  -90.3518
8  -24.7911  -50.0119
15  15.8500  -97.0667
17  -9.0122  -35.2225
21   3.0707  172.7902
23   5.4112  100.3354
28  11.9214  109.1591
30   5.8933   95.3214

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [52]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))